.header {
  font-size: 30px;
  display: flex;
  justify-content: space-between;
  padding: 0 80px;

  @media screen and (max-width: 835px) {
    display: inline-block;
  }

  @media screen and (max-width: 550px) {
    font-size: 25px;
    padding: 0;
  }
}
